html {
  font-family: $font_text;
  font-size: $font_text_size;
  line-height: 1.45;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3/* ,
h4,
h5,
h6 */ {
  font-family: $font_title;
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  // font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  // font-weight: 700;
}
h3 {
  font-size: 1.3rem;
  // font-weight: 700;
}
/* h4 {
  font-size: 1.2rem;
  // font-weight: 500;
}
h5 {
  font-size: 1rem;
  font-variant: small-caps;
  text-transform: none;
  // font-weight: 500;
}
h6 {
  font-size: 1rem;
  font-variant: small-caps;
  text-transform: none;
  // font-weight: 400;
} */